@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #fdfcf6;
$subColor: #bea300;
$keyColor: #14c0c9;
$fontColor: #4c4c4c;

/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.flexible-images {
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.box {
  background-image: url("../images/landscape-1802337_1920.jpg");
  background-size: cover;
  max-width: 100%;
  height: 250px;
  background-position: center center;
}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
}

// Contents
#contents {
  background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
  }
  h2 {
    color: $baseColor;
    margin-bottom: 60px;
  }
  .contents-box {
    @include flex(1);
    margin: 10px 0;
    padding: 20px;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
  
}

// desktop
@media (min-width: 769px) {
  
  // Contents
  #contents {
    .container {
      @include flex-direction(row);
      justify-content: space-between;
    }
    .contents-box {
      margin: 0px 10px;
    }
  }
  .flexible-images {
  width: 100%;
  height: 500px;
  
}
.box {
  background-image: url("../images/landscape-1802337_1920.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}  
}

  // Contacts
  #contacts {
        .button-readmore {
          margin: auto;
          text-align: center;
          padding: 5px 0;
          width: 180px;
          display: block;
          color: #FFF;
          font-weight: bold;
          background-color: $keyColor;
          @include border-radius(4px);
          font-size: 1rem;
        }
      }
  